body 
{
    font-family: Sans-Serif;
    padding : 0;
    margin: 0;
    background-color: #dcdcdc;
    direction:rtl ;
}
.container
{
    width :80%;
    margin: auto;
    overflow: hidden;  
}

ul{ margin:0;
    padding:30px;}

header {
    background: #0c61a8;
    color: White;
    padding-top: 10px;
    min-height: 100px;
    border-bottom: #32a0c2 5px solid;
}
    header form {
        background: #0c61a8;
        color: White;
        float:left;
        font-size:12px;
       
        
    }
 
 header a {
 color: white;
 text-decoration : none;
 font-size :18px;
 }
 
 header li
 {
     float :right;
     display:inline;
     padding: 0 20px 0 20px;

 }
     
 header #brand
 {
   float:right;
 }

    header #brand h1 {
        margin: 0;
        color: white;
    }
 header nav
 {
     float:left;
     margin-top: 10px;
 }
   
  header .current a {
       color:white;
       font-weight:bold;
       }



    header a:hover {
        color: #cf202b;
        font-weight:bold;
    }

#showcase {
    
    min-height: 400px;
    background: #fceeda;
    background-size: cover;
}

#newsletter {
   
    padding: 10px;
    color: white;
    background: #dcdcdc;
}  
  #newsletter h1{

      float: right;
  }
    #newsletter form {
        
        float: right;
        margin-top: 5px;
    }

  #newsletter input[type ="text"]{
      padding:4px;
      height:25px;
      width : 250px;
  }
.button {
    
    height: 30px;
    background: #0c61a8;
    padding-left: 15px;
    margin-left:12px;
    padding-right: 10px;
    color: rgb(0,0,0);
}


.registerbtn {
    height: 30px;
    background: #f44336;
    padding-left: 15px;
    margin-left: 12px;
    padding-right: 10px;
    color: rgb(0,0,0);
    -->
}
#boxes {
    margin-top: 10px;
    background: #fceeda;
}
   #boxes .box {
        float: right;
        text-align:center;
        width:30%;
        padding:10px;
    }

#login .logbox {
    float: right;
    text-align: center;
    width: 30%;
    padding: 10px;
    background :#0c61a8;

}


#login .button1 {
    height: 38px;
    background: #f44336;
    color:white;
    padding-left: 20px;
    padding-right: 10px;
   
}
#AboutUs {
    font-family :'Times New Roman', Times, serif;
    font-size:large;
    padding-right: 20px;
    padding-right: 20px;
    background:#fceeda;
    background-size:cover;
}
#sign-up {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-right: 20px;
    padding-right: 20px;
    background: #fceeda;
    background-size: cover;
    text-align: right;
}




    footer {
    margin-top: 10px;
    background: #fceeda;
}


{
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    /* Add a background color when the inputs get focus */
    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

/* search */



.button4 {
    background-color: #0c61a8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.button5 {
    background-color: #0c61a8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    button:hover {
        opacity: 1;
    }

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* تسجيل دخول وتسجيل والبحث */
button {
    background-color: #0c61a8;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    width: 20%;
    text-align:center;
}

    button:hover {
        opacity: 0.8;
    }

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
.button6 {
    height: 50px;
    background:#cf202b;
    padding-left: 15px;
    margin-left: 30px;
    padding-right: 10px;
    color:white;
}

.button7 {
    height: 50px;
    background: #0c61a8;
    padding-left: 15px;
    margin-left: 30px;
    padding-right: 10px;
    color: white; 
}
* {
    box-sizing: border-box;
}
.search-container {
    float: left;
}
.SearchButton {
    background: #0c61a8;
    color: White;
    float: left;
    font-size: 12px;
    font-size:larger;

}





body {
    font-family: "Lato", sans-serif;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

    .tablink:hover {
        background-color: #777;
    }

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

#connect {
    background-color: #fceeda;
    color: black;
}

#online {
    background-color: #fceeda;
    text-align: right;
    color: black;
}
#online h4 {
    color: #0c61a8;
    font-size: medium
}

#online h3 {
    font-size: x-large;
}
#online p {
    font-size: 17px;
}


#mechanism {
    background-color:#fceeda;
    text-align: right;
    color: black;
}

#about {
    background-color: #dcdcdc;
    color:black;
}

#mechanism h1{
    color:midnightblue;
}
#mechanism h4 {
    color: #0c61a8;
    font-size: medium
}
#mechanism p {
    font-size: 17px;
}
#mechanism h3 {
    font-size:x-large;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa:hover {
    opacity: 0.7;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 16px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#courese {
    margin-top: 10px;
    background: #fceeda;
}
    #courese .course {
        float: right;
        text-align: center;
        width: 30%;
        padding: 10px;
    }


.dropbtn {
    background-color: #0c61a8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
   width:auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#courese {
    margin-top: 10px;
    background: #fceeda;
}

    #courese1 {
        float: right;
        text-align: center;
        width: 30%;
        padding: 10px;
    }
.collapsible1 {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible1:hover {
        background-color: #555;
    }

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}





body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Full-width input fields */
input[type=text], input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    /* Add a background color when the inputs get focus */
    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

/* Set a style for all buttons */
sign {
    background-color: #0c61a8;
    color: white;
    padding: 19px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    button9:hover {
        opacity: 1;
    }

/* Extra styles for the cancel button */
.cancelbtn3 {
    padding: 14px 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    background-color: #f44336;
}
.signupbtn3 {
    padding: 14px 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    background-color: #32a0c2;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn3, .signupbtn3 {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close2 {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

    .close2:hover,
    .close2:focus {
        color: #f44336;
        cursor: pointer;
    }

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 300px) {
    .cancelbtn3, .signupbtn3 {
        width: 50%;
    }
}